apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-grupoa4
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/mysql-grupoa4"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grupoa4
  namespace: grupoa4
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi