apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache
  namespace: grupoa4
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      imagePullSecrets:              # NUEVO: Credenciales para Docker Hub
      - name: regcred
      containers:
      - name: apache
        image: grupo4a/apache-grupoa4:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: apache-service
  namespace: grupoa4
spec:
  type: NodePort
  selector:
    app: apache
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30604